<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h2>サンプルで作ったコンテンツ</h2>
<hr>
    <form method="post" action="./result">
      <input type="text">
      <input type="submit">
    </form>
  </body>
</html>
